name: Build
on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - 'tools/**'
      - 'Makefile'
      - 'Dockerfile'
      - '.github/workflows/build.yaml'
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: build
        run: make build
