name: Lint Go
on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - 'tools/**'
      - '.golangci.yml'
      - 'revive.toml'
      - '.github/workflows/lint.yaml'
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  go-mod:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Check tools/go.mod
        working-directory: tools
        run: |
          go mod tidy -diff

  lint-go:
    name: Lint Go
    runs-on: ubuntu-latest
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Setup Go and register problem matcher
      uses: actions/setup-go@v6
      with:
        go-version: stable

    - name: Install revive
      run: go install

    - name: Run revive
      run: revive --config revive.toml ./...

    - id: golangci-lint-version
      working-directory: tools
      run: |
          echo "GOLANGCI_LINT_VERSION=$(go list -m -f '{{.Version}}' github.com/golangci/golangci-lint/v2)" >> $GITHUB_OUTPUT

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: ${{ steps.golangci-lint-version.outputs.GOLANGCI_LINT_VERSION }}
        args: --verbose
