name: Test
on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - 'tools/**'
      - '.github/workflows/test.yaml'
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  tests:
    name: Tests on ${{ matrix.os }} (Go ${{ matrix.go-version }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        go-version:
          - oldstable
          - stable
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: Run tests
        run: go test -race -shuffle=on ./...
      - name: Run benchmarks
        if: runner.os == 'Linux' # run benchmarks only on Linux to save time and resources
        run: go test -bench . -benchmem ./...
